<div class="cards_main uppercase">
  <h1>Cartões</h1>
  <span class="all-cards uppercase">Os Seus cartões disponíveis</span>
  <div class="cards_name">

    <div class="one_card bpi editar_cartao">
      <span class="uppercase">Bpi | DEBIT CARD </span>
      <div class="creds">
        <span class="card_numbers">
          **** **** ****
        </span>
        <span class="lasts_numbers"> 1997</span>

      </div>
      <span>CVV </span>
    </div>

    <div class="one_card moey editar_cartao">
      <span class="uppercase">Moey | DEBIT CARD </span>
      <div class="creds">
        <span class="card_numbers">
          **** **** ****
        </span>
        <span class="lasts_numbers"> 1997</span>

      </div>
      <span>CVV </span>
    </div>
    <div class="one_card cetelem editar_cartao">
      <span class="uppercase">CETELEM | CREDIT CARD </span>
      <div class="creds">
        <span class="card_numbers">
          **** **** ****
        </span>
        <span class="lasts_numbers"> 1087</span>

      </div>
      <span>CVV </span>
    </div>
    <div class="one_card milenium editar_cartao">
      <span class="uppercase">milenium | DEBIT CARD </span>
      <div class="creds">
        <span class="card_numbers">
          **** **** ****
        </span>
        <span class="lasts_numbers"> 1087</span>

      </div>
      <span>CVV </span>
    </div>
    <div class="one_card add_card adicionar_cartao">
      <fa-icon [icon]="faPlus"></fa-icon>
    </div>

  </div>
</div>
