<div class="_goals_-_container">
  <h1 class="uppercase">Objectivos</h1>
  <div class="save_money_container">
    <div class="card_save main">
      <div class="card_top">
        <span>
          MAIN GOAL
        </span>
        <span>1000€</span>
        <div class="card_progress_bar">
        </div>
      </div>
      <div class="card_bottom">
        <div class="card_icons_div">
          <div class="card_icon_container poupar">
            <fa-icon [icon]="faArrowUp"></fa-icon>
          </div>
          <div class="card_icon_container retirar">
            <fa-icon [icon]="faArrowDown"></fa-icon>
          </div>
        </div>
        <div class="descriptions">
          <span>Poupar</span>
          <span>Retirar</span>
        </div>
      </div>
    </div>

    <div class="card_save">
      <div class="card_top">
        <span class="uppercase">
          Casa
        </span>
        <span>15000€</span>
        <div class="card_progress_bar">
        </div>
      </div>
      <div class="card_bottom">
        <div class="card_icons_div">
          <div class="card_icon_container poupar">
            <fa-icon [icon]="faArrowUp"></fa-icon>
          </div>
          <div class="card_icon_container retirar">
            <fa-icon [icon]="faArrowDown"></fa-icon>
          </div>
        </div>
        <div class="descriptions">
          <span>Poupar</span>
          <span>Retirar</span>
        </div>
      </div>
    </div>

    <div class="card_save">
      <div class="card_top">
        <span class="uppercase">
          Carro
        </span>
        <span>2500€</span>
        <div class="card_progress_bar">
        </div>
      </div>
      <div class="card_bottom">
        <div class="card_icons_div">
          <div class="card_icon_container poupar">
            <fa-icon [icon]="faArrowUp"></fa-icon>
          </div>
          <div class="card_icon_container retirar">
            <fa-icon [icon]="faArrowDown"></fa-icon>
          </div>
        </div>
        <div class="descriptions">
          <span>Poupar</span>
          <span>Retirar</span>
        </div>
      </div>
    </div>

    <div class="card_save adicionar_objectivo">
      <fa-icon [icon]="faPlus"></fa-icon>
    </div>

  </div>
<!--   <h1 class="uppercase">Investir</h1>
  <div class="save_money_container investir">
    <div class="invest_card_container">
      <fa-icon [icon]="faHandShake"></fa-icon>
    </div>
  </div>
  <div class="save_money_container">
    <div class="invest_card_container invista_em_nos">
      <fa-icon [icon]="faHandShake"></fa-icon>
    </div>
  </div> -->
</div>
